@import "tailwindcss";

@theme {
  --color-neon-green: #10e80c;
  --color-midnight-black: #000000;
  --color-nos-dark-surface: #0a0a0a;
  --color-nos-text-light: #e0e0e0;
  --color-light-grey: #F9F9F9;
  --color-medium-dark-grey: #1a1a1a;
  --color-console-dark-grey: #282c34; /* New color for console background */
}
